*{

padding: 0;
margin: 0;

}

body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: 'Fredoka One', cursive;
background-position: center center;
background-size: cover;
background-image: url(../img/20534010.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
}

th,td{
border: solid 2px #000;
border-collapse: separate;
background: transparent;
}

table{
margin-top:50px;
border-collapse:separate;
border: solid #000 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 10px 10px 0px 0px;
border-spacing: 0;
overflow: hidden;
width: 90%;
}

#savebutton{

    font-family: 'Fredoka One', cursive;
    background: transparent;
    border-radius: 5px;
    border-radius: 5px;
    cursor:pointer;
}

#btn{
    font-family: 'Fredoka One', cursive;
    border-radius: 5px;
    cursor:pointer;
    background: transparent;
}

.inputs{
margin-top: 50px;
}

#acao{
    border: solid #000 2px;

}

input{
border-radius: 5px;
cursor: pointer;
}